go 1.21.3

use (
	./interpreters/fg
	./interpreters/fgg
	./interpreters/shared
	./monomorphisers/fgg2go
)

replace (
	github.com/dawidl022/go-const-generics/interpreters/fgg v0.1.0 => ./interpreters/fgg
)
